<section class="page" data-page="login">
	<div id="clouds">
		<div class="cloud x1"></div>
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
	</div>
	<div class="center">
		<div class="logo">
			<img src="/img/logo.png" alt="Sprout - What to Grow When"/>
		</div>
		<div class="loginText">
			Login to get Sprout'n
		</div>
		<div class="social">
			<a class="network" data-network="facebook" href="">
				<img src="/img/facebook.png"/>
			</a>
			<a class="network" data-network="twitter" href="">
				<img src="/img/twitter.png"/>
			</a>
		</div>
	</div>
</section>