body,html,#main,.container{margin:0;padding:0;height:100%;width:100%;font-family:'Open Sans',sans-serif}
section[data-page="login"]{position:absolute;top:0;bottom:0;right:0;left:0;background:-webkit-linear-gradient(top, #8ebad6, #7fabc7);background:-moz-linear-gradient(top, #8ebad6, #7fabc7);background:-o-linear-gradient(top, #8ebad6, #7fabc7);background:-ms-linear-gradient(top, #8ebad6, #7fabc7);background:linear-gradient(to bottom, #8ebad6, #7fabc7);}
section[data-page="login"] .center{margin-top:50px;text-align:center;}
section[data-page="login"] .center .logo{margin-bottom:70px}
section[data-page="login"] .center .loginText{font-size:22px;font-weight:100;letter-spacing:1px;color:#fff;margin-bottom:70px}
section[data-page="login"] .center .social .network{margin-right:40px;}
section[data-page="login"] .center .social .network:last-child{margin-right:0}
