// main styles here

body,html, #main, .container
  margin 0
  padding 0
  height 100%
  width 100%
  font-family: 'Open Sans', sans-serif;
a
	text-decoration none

.page
	overflow hidden

@import "views/login"
@import "views/plants"
