section[data-page="login"]
	position absolute
	top 0px
	bottom 0px
	right 0px
	left 0px
	background linear-gradient(top, rgb(142,186,214), rgb(127,171,199))

	.center
		margin-top 50px
		text-align center

		.logo
			margin-bottom 70px

		.loginText
			font-size 22px
			font-weight 100
			letter-spacing 1px
			color white
			margin-bottom 70px

		.social
			.network
				margin-right 40px
				&:last-child
					margin-right 0px
