section[data-page="plants"]

	position absolute
	top 0px
	bottom 0px
	right 0px
	left 0px
	background linear-gradient(top, rgb(118, 193, 215), rgb(127,171,199))

	.pageContent
		max-width 1000px
		margin auto
		// needed for birds to fly under
		position relative
		z-index 10

	&:after
		background url(/img/greenhills.png) no-repeat
		background-size 100%
		bottom 0
		content ''
		display block
		height 25%
		left 0
		position absolute
		width 100%
		z-index 0

	&:before
		background url(/img/bottomhill.png) no-repeat
		background-size 100%
		bottom 0
		content ''
		display block
		height 10%
		left 0
		position absolute
		width 100%
		z-index 1

	.arrows
		margin-top 25px
		display flex
		justify-content: center;
		opacity 1
		transition opacity 250ms ease-out
		&.hidden
			opacity 0
		a
			text-align center
			margin 10px
			&.left img
				transform rotateZ(180deg)

	.plantList
		display flex
		justify-content: center;
		flex-flow: row wrap;
		.plant
			text-align center
			transition all 250ms ease-out
			transform translateX(0%)
			opacity 1
			margin 0px 20px
			&:nth-child(1)
				transition-delay 100ms
			&:nth-child(2)
				transition-delay 200ms
			&:nth-child(3)
				transition-delay 300ms
			&:nth-child(4)
				transition-delay 400ms

			&.moveOutLeft
				transform translateX(-400%)
				opacity 0

			&.moveOutRight
				transform translateX(400%)
				opacity 0
				&:nth-child(1)
					transition-delay 400ms
				&:nth-child(2)
					transition-delay 300ms
				&:nth-child(3)
					transition-delay 200ms
				&:nth-child(4)
					transition-delay 100ms

			&.displayRight
				transform translateX(400%)
				opacity 0

			&.displayLeft
				transform translateX(-400%)
				opacity 0


			.plantImage
				background-repeat no-repeat
				background-position 50%
				border 8px solid white
				border-radius 50%
				width 180px
				height 180px
				background-size cover

			.plantTitle
				color white
				font-size 22px
				margin-top 10px

	.center
		margin-top 50px
		position relative
		z-index 10
		display flex
		justify-content: space-between;
		flex-flow: row wrap;
		margin-bottom 150px

		.tabs
			display flex
			position relative
			top 25px
			.eat
				margin-left 20px
			.eat, .grow
				text-align center

		.location
			display flex

			.flag
				width 51px
				height 51px
				background #ccc
				border-radius 50px
				margin-right 10px

				.flagInner
					background-repeat no-repeat
					background-position 50%
					border-radius 50%
					width 100%
					height 100%
					background-size cover

			.flag, .season
				position relative
				top 18px

		.loginText
			font-size 22px
			font-weight 100
			letter-spacing 1px
			color white
			margin-bottom 70px

		.social
			.network
				margin-right 40px
				&:last-child
					margin-right 0px


	.loaderBox

		text-align center
		color white

		&.hidden
			opacity 0

		.loader6
			position relative
			width 12px
			height 12px

			top 46%
			top -webkit-calc(50% - 6px)
			top calc(50% - 6px)
			left 46%
			left -webkit-calc(50% - 6px)
			left calc(50% - 6px)

			border-radius 12px
			background-color #fff
			transform-origin 50% 50%
			animation loader6 1s ease-in-out infinite

			margin-left 55px
			transition opacity 250ms ease-out
			opacity 1


		.loader6:before
			content ""
			position absolute
			background-color rgba(255, 255, 255, .5)
			top 0px
			left -25px
			height 12px
			width 12px
			border-radius 12px


		.loader6:after
			content ""
			position absolute
			background-color rgba(255, 255 ,255 ,.5)
			top 0px
			left 25px
			height 12px
			width 12px
			border-radius 12px

@keyframes loader6
	0%
		transform rotate(0deg)
	50%
		transform rotate(180deg)
	100%
		transform rotate(180deg)

